<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <h1>Todo Form</h1>
    <a href="/add">Add a Todo</a><br />
    <div th:each="todo : ${todos}">
        <p> The task is <span th:text="${todo.task}"></span></p>
        <p> The due date is <span th:text="${todo.dueDate}"></span></p>
        <p> The priority is <span th:text="${todo.priority}"></span></p>
        <p> The description is <span th:text="${todo.description}"></span></p>
        <div th:if="${todo.isCompleted.equalsIgnoreCase('yes')}">
<!--            <p> The task completion is <span th:text="${todo.isCompleted}"></span> </p>-->
            <p> The task is complete!</p>
            <img th:src="${message.pic}" /><br />
        </div>
        <p> <img th:src="${todo.pic}" class="todo-pic" ><br />
    <td>
        <a th:href="@{/update/{id}(id=${todo.id})}">Update</a>
        <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
    </td>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>